<address>
  <h2 id='name'><%= user.name %></h2><br>
  <span id='line1'><%= user.line1 %></span>  <span id='line2'><%= user.line2 %></span><br>
  <span id='city'><%= user.city %></span>, <span id='state'><%= user.state %></span><br>
  <span id='zip'><%= user.zip %></span><br><br>
  <strong id="phone"><%= user.phone %></strong>
</address>
